body {
    background-color: rgb(208, 209, 200);
}

/* HEADER */
header {
    background-color: rgb(92, 90, 128);
    padding: 1rem;
    border-color: black;
}

nav {
    display: flex;
    justify-content: end;
    margin-right: 2rem;
}

header h1 {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

/* MAIN */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

.welcome-container{
    background-color: rgb(153, 223, 109);
    border-style: solid;
    border-color: rgb(82, 150, 57);
    border-width: 0.3rem;
    padding: 1rem;
    border-radius: 20px;
    font-family: sans-serif;
}

.hint-container{
    background-color: rgb(158, 189, 225);
    border-style: solid;
    border-color: rgb(82, 124, 161);
    border-width: 0.3rem;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 10vh;
    text-align: center;
    font-family: sans-serif;
}