body {
    background-color: rgb(208, 209, 200);
}

/* HEADER */
header {
    background-color: rgb(92, 90, 128);
    padding: 1rem;
    border: solid;
    border-color: rgb(78, 57, 112);
    border-width: 0.3;
}

header img {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
}

.nav-content {
    display: flex;
}

.nav-not-logged{
    display: flex;
    justify-content: end;
}

header h1 {
    color: rgb(255, 255, 255);
    margin-left: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 1rem;
}

.logout-button {
    border: none;
    color:white;
    background: none;
    font-family: inherit;
    font-size: 30px;
    padding-left: 1rem;
}

/* MAIN */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

.invertebrate-container{
    background-color: rgb(158, 189, 225);
    border-style: solid;
    border-color: rgb(82, 124, 161);
    border-width: 0.3rem;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
}

.green-container {
    color: black;
    background-color: rgb(153, 223, 109);
    border-style: solid;
    border-color: rgb(82, 150, 57);
    border-width: 0.3rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    font-family: sans-serif;
}

.blue-container {
    background-color: rgb(158, 189, 225);
    border-style: solid;
    border-color: rgb(82, 124, 161);
    border-width: 0.3rem;
    padding: 1rem;
    border-radius: 20px;
    margin-top: 10vh;
    text-align: center;
    font-family: sans-serif;
}

.blue-container > a {
    color: black;
    text-decoration: none;
    font-size: 30px;
    margin-left: 1rem;
}

.card img {
    border-radius: 20%;
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;   
}

.card h4{
    text-align: center;
    color: rgb(0, 0, 0, 255);
}

.main-content a {
    color: black;
    text-decoration: none;
}

label {
    display: block;
}


.info-main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-container{
    margin-left: 5rem;
    text-align: start;
    font-family: sans-serif;
}

.invertebrate-info-image img{
    max-height: 250px;
    max-width: 250px;
}

.delete-invertebrate {
    margin-top: 2rem;
    background-color: rgb(246, 131, 131);
    border: solid;
    border-color: red;
    border-radius: 15px;
    padding: 1rem;
    font-size: 2rem;
    font-family: inherit;
}

.media img {
    max-height: 250px;
    max-width: 250px; 
}

.invertebrate-form {
    color: black;
    background-color: rgb(153, 223, 109);
    border-style: solid;
    border-color: rgb(82, 150, 57);
    border-width: 0.3rem;
    padding: 1rem;
    border-radius: 20px;
    text-align: center;
    font-family: sans-serif;
}

form input {
    margin-bottom: 1rem;
}

form textarea{
    margin-bottom: 1rem;
}

.invertebrate-form button {
    background-color: rgb(249, 217, 33);
    border: solid;
    border-color: rgb(135, 131, 43);
    border-radius: 15px;
    padding: 1rem;
    font-size: 2rem;
    font-family: inherit;
}

.form-group button{
    background-color: rgb(158, 189, 225);
    border-style: solid;
    border-color: rgb(82, 124, 161);
    border-width: 0.3rem;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 2rem;
    text-align: center;
    font-family: sans-serif;
}

button:hover {
    cursor: pointer;
}
