{% extends "album/base.html" %}
{% block header %}
    <div class="nav-content">
        <a href="{% url 'add-invertebrate' %}">Agregar</a>
        <a href="{% url 'album-home' %}">Home</a>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button class="logout-button" type="submit">Logout</button>
        </form>
    </div>
{% endblock header %}

{% block content %}
    {% for invertebrate in invertebrates %}
        <div class="card">
            <a href="{% url 'invertebrate-info' invertebrate.id %}">
                <img src="{{ invertebrate.image.url }}">
            </a>
            <h4><b>{{invertebrate.name}}</b></h4>
        </div>
        <!-- {{ invertebrate.image.url }} -->
    {% endfor %}
{% endblock content %}