{% extends "album/base.html" %}
{% block header %}
    <nav>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>
{% endblock header %}

{% block content %}
    <div class="main-content">
        <div class="green-container">
            <h1>¡BIENVENIDO {{ user }}!</h1>
        </div>
        <div class="blue-container">
            <h1>Ver álbum.</h1>
        </div>
    </div>
{% endblock content %}