{% extends "album/base.html" %}
{% block header %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button" type="submit">Logout</button>
    </form>
{% endblock header %}

{% block content %}
    <div class="main-content">
        <div class="green-container">
            <h1>¡BIENVENIDO {{ user }}!</h1>
        </div>
        <a href="{% url 'album' %}">
            <div class="blue-container">
                <h1>Ver álbum</h1>
            </div>
        </a>
    </div>
{% endblock content %}