{% extends "album/base.html" %}
{% block header %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button class="logout-button" type="submit">Logout</button>
    </form>
{% endblock header %}

{% block content %}
    <div class="main-content">
        <div class="green-container">
            <h1>¡BIENVENIDO {{ user }}!</h1>
        </div>
        <div class="blue-container">
            <a href="{% url 'album' %}"><h1>Ver álbum.</h1></a>
        </div>
    </div>
{% endblock content %}